<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         version="5.0">

    <servlet>
        <servlet-name>student</servlet-name>
        <servlet-class>com.app.StudentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>student</servlet-name>
        <url-pattern>/students</url-pattern>
    </servlet-mapping>

</web-app>
